/*
material colors: 
    #2196F3;
    #03A9F4;
    #00BCD4;
    #4CAF50;
    #9C27B0;
    #F44336;
    #607D8B; 
 */

body {
    background: url('../res/background.png');
    background-repeat: repeat;

    min-height: 500px;
    min-width: 300px;
    text-align: center;
}

body > * {
    text-align: initial;
}

.main-container {
    background-color: rgba(255, 255, 255, 0.4);
    display: inline-block;
    margin: 0 auto;
}

/*h1 {
    color: #333;
}*/

.canvas-container {
    background: #cccccc;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
}

#my_canvas {
    width: 100%;
}

.new_marker_container {
    border-right: 2px solid #607d8b;
}

.new_marker_droppable {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-align: center;
    margin-top: 10px;
}

#map_selection_level_selection img {
    height: 250px;
    max-height: 250px;
}

.map_item {
    background: white;
}

.map_item img {
    max-height: 150px;
    max-width: 200px;
}

#marker_fill_rest > .row {
    display: table;
    height: 100%;
}

#map_list_area {
    overflow-y: hidden;
}

.map_list_scroll_wrapper {
    overflow-x: scroll;
    white-space: nowrap;
}

#controls-section {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 300px;
}

#controls-section > .row {
    margin: 15px;
    margin-bottom: -15px;
}

#controls-section > .row > .columns {
    background-color: white;
    margin-bottom: 15px;
}

.marker_controls_button_container {
    display: table-cell;
    vertical-align: middle;
}

.marker-edit-button, .marker-delete-button {
    margin-bottom: 0;
    width: 90%;
}

#map_controls_compass, #map_controls_position_reset, #map_controls_zoom {
    display: inline-block;
    position: absolute;
}

#map_controls_compass {
    bottom: 65px;
    height: 20px;
    right: 3px;
    text-align: center;
    width: 20px;
}

#map_controls_compass span, #map_controls_position_reset span, #map_controls_zoom span {
    background-color: #607D8B;

    line-height: 0;
    display: block;
    color: #ddd;
    border-radius: 3px;
    width: 100%;
    height: 100%;
}

#map_controls_inv_layer span:hover {
    color: #fff !important;
    background-color: #708DAB;
}

#map_controls_inv_layer span i {
    display: inline-block;
}

#map_controls_compass span {
    font-size: 17px;
}

#map_controls_compass span i {
    margin-top: 1.5px;
}

.fi-compass:before {
    transform: rotate(-45deg);
}

#map_controls_position_reset {
    height: 20px;
    width: 20px;
    right: 3px;
    bottom: 40px;
}

#map_controls_position_reset span {
    font-size: 14px;
}

#map_controls_position_reset span i {
    margin-top: 2px;
    margin-left: 2px;
}

#map_controls_zoom {
    height: 30px;
    width: 20px;
    right: 3px;
    bottom: 3px;
    font-size: 13px;
}

#map_controls_zoom span i {
    height: 15px;
    margin-left: 5px;
}

#map_controls_zoom_in {
    border-bottom: 1px solid #333;
    margin-top: -1px;
}

#map_controls_zoom_in span {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#map_controls_zoom_in span i {
    margin-top: 2px;
    margin-bottom: -2px;
}

#map_controls_zoom_out {
    font-size: 11px;
}

#map_controls_zoom_out span {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#map_controls_zoom_out span i {
    margin-top: 3px;
    margin-bottom: -3px;
}

#load_session_error {
    color: red;
}

/* for scaling things */

.map_list_scroll_wrapper {
    height: 100%;
}

.map_item {
    border: 2px solid #666;
    display: inline-block !important;
    height: 90%;
    margin-right: 5px;
}

.ui-sortable-placeholder {
    visibility: hidden !important;
    width: 0;
    height: 0;
}

.map_item.selected_map {
    border-color: #2196F3;
}

@media (min-width: 0em) and (max-width: 39.9375em),
    (min-height: 0em) and (max-height: 33.9375em) {

    /* title-area */
    #game_name h1 {
        font-size: 16px;
        margin-bottom: 0;
    }

    #title_bar_area .button {
        margin-bottom: 0;
        padding: 0.425em 0.5em;
    }

    #session_id_container, #title_bar_area .button {
        font-size: 12px;
    }

    #content_area .columns {
        padding-left: 0;
        padding-right: 0;
    }

    .new_marker_container {
        font-size: 12px;
    }

    .new_marker_droppable {
        padding: 3px;
        margin-top: 0;
    }

    .row .row {
        margin-left: 0;
        margin-right: 0;
    }

    .row.title-bar {
        margin-left: -0.9375rem;
        margin-right: -0.9375rem;
        padding: 0;
    }

    #controls-section > .row {
        margin: 5px;
        margin-bottom: -15px;
    }

    .map_item img {
        max-height: 90%;
    }

    .marker_controls_button_container .button {
        padding: 5px;
    }

    #map_list_area .button {
        font-size: 12px;
        margin-bottom: 5px;
        padding: 3px;
    }

    .start_goal p {
        font-size: 8pt;
        line-height: 0.9;
    }

    #map_controls_compass {
        bottom: 90px;
        height: 30px;
        width: 30px;
    }

    #map_controls_compass span i {
        font-size: 27px;
    }

    #map_controls_position_reset {
        bottom: 55px;
        height: 30px;
        width: 30px;
    }

    #map_controls_position_reset span i {
        font-size: 23px;
        padding-top: 2px;
        padding-left: 1px;
    }

    #map_controls_zoom {
        height: 45px;
        width: 30px;
    }

    #map_controls_zoom i {
        font-size: 18px;
        padding-left: 4px;
    }

    #map_controls_zoom_in, #map_controls_zoom_out {
        height: 22.5px;
    }
}

@media (min-width: 40em) and (max-width: 63.9375em),
    (min-height: 34em) {

    /* title-area */
    #game_name h1 {
        font-size: 24px;
        margin-bottom: 0;
    }

    #title_bar_area .button {
        margin-bottom: 0;
        padding: 0.625em 0.75em;
    }

    #session_id_container, #title_bar_area .button {
        font-size: 12px;
    }

    .new_marker_container {
        font-size: 12px;
    }

    .new_marker_droppable {
        padding: 3px;
    }

    #controls-section > .row {
        margin: 5px;
        margin-bottom: -15px;
    }

    .map_item img {
        max-height: 100%;
    }

    .marker_controls_button_container .button {
        padding: 5px;
    }

    #map_list_area .button {
        font-size: 15px;
        margin-bottom: 5px;
        padding: 3px;
    }
}

@media (min-width: 64em) {
    #game_name h1 {
        font-size: 30px;
    }
}
