body {
    background: url('../res/background.png');
    background-repeat: repeat;
}

h1 {
    color: #333;
}

.canvas-container {
    background: #cccccc;
    padding: 2px;
}

#my_canvas {
    width: 100%;
}
