/*
material colors: 
    #2196F3;
    #03A9F4;
    #00BCD4;
    #4CAF50;
    #9C27B0;
    #F44336;
    #607D8B; 
 */

body {
    background: url('../res/background.png');
    background-repeat: repeat;
}

/*h1 {
    color: #333;
}*/

.canvas-container {
    background: #cccccc;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
}

#my_canvas {
    width: 100%;
}

.new_marker_container {
    border-right: 2px solid #607d8b;
}

.new_marker_droppable {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-align: center;
}

#map_selection_level_selection img {
    height: 250px;
    max-height: 250px;
}

.map_item {
    background: white;
    display: inline;
}

.map_item img {
    max-height: 150px;
}

#marker_fill_rest > .row {
    display: table;
    height: 100%;
}

.map_list_scroll_wrapper {
    overflow-x: scroll;
    white-space: nowrap;
}

#controls-section {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 300px;
}

#controls-section > .row {
    margin: 15px;
    margin-bottom: -15px;
}

#controls-section > .row > .columns {
    background-color: white;
    margin-bottom: 15px;
}

.marker_controls_button_container {
    display: table-cell;
    vertical-align: middle;
}

.marker-edit-button, .marker-delete-button {
    margin-bottom: 0;
    width: 90%;
}

#map_controls_compass, #map_controls_position_reset, #map_controls_zoom {
    display: inline-block;
    position: absolute;
}

#map_controls_compass {
    bottom: 65px;
    height: 20px;
    right: 3px;
    text-align: center;
    width: 20px;
}

#map_controls_compass span, #map_controls_position_reset span, #map_controls_zoom span {
    background-color: #607D8B;

    line-height: 0;
    display: block;
    color: #ddd;
    border-radius: 3px;
    width: 100%;
    height: 100%;
}

#map_controls_inv_layer span:hover {
    color: #fff !important;
    background-color: #708DAB;
}

#map_controls_inv_layer span i {
    display: inline-block;
}

#map_controls_compass span {
    font-size: 17px;
}

#map_controls_compass span i {
    margin-top: 1.5px;
}

.fi-compass:before {
    transform: rotate(-45deg);
}

#map_controls_position_reset {
    height: 20px;
    width: 20px;
    right: 3px;
    bottom: 40px;
}

#map_controls_position_reset span {
    font-size: 14px;
}

#map_controls_position_reset span i {
    margin-top: 2px;
    margin-left: 2px;
}

#map_controls_zoom {
    height: 30px;
    width: 20px;
    right: 3px;
    bottom: 3px;
    font-size: 13px;
}

#map_controls_zoom span i {
    height: 15px;
    margin-left: 5px;
}

#map_controls_zoom_in {
    border-bottom: 1px solid #333;
    margin-top: -1px;
}

#map_controls_zoom_in span {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#map_controls_zoom_in span i {
    margin-top: 2px;
    margin-bottom: -2px;
}

#map_controls_zoom_out {
    font-size: 11px;
}

#map_controls_zoom_out span {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#map_controls_zoom_out span i {
    margin-top: 3px;
    margin-bottom: -3px;
}
